# Prep

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [ ]:
folder_path = '/content/drive/MyDrive/01.School_related/DoAnChuyenNganh/dataset/amp'

# List all files in the folder
file_list = [f for f in os.listdir(folder_path) if f.endswith('.csv')]
dfs = []
for file_name in file_list:
    file_path = os.path.join(folder_path, file_name)
    df = pd.read_csv(file_path)
    dfs.append(df)
print(len(dfs))

6

In [ ]:
for x in dfs:
  print(x.shape)

(11687, 52)
(11118, 52)
(11746, 52)
(10227, 52)
(11377, 52)
(10411, 52)

In [ ]:
amp_dfs = []
for x in dfs:
  amp_df = x.iloc[1:]
  amp_dfs.append(amp_df)

In [ ]:
for x in amp_dfs:
  print(x.shape)

(11686, 52)
(11117, 52)
(11745, 52)
(10226, 52)
(11376, 52)
(10410, 52)

# Segmentation

In [ ]:
import pandas as pd


def segment_df_overlap(df, segment_size, overlap_size):
  """
  Segments a DataFrame into overlapping chunks of a specified size.

  Args:
      df (pd.DataFrame): The DataFrame to segment.
      segment_size (int): The desired size of each segment without overlap.
      overlap_size (int): The number of rows to overlap between consecutive segments.

  Returns:
      list: A list of Pandas DataFrames, each representing a segment of the original DataFrame with overlap.
  """

  if overlap_size >= segment_size:
    raise ValueError("Overlap size cannot be greater than or equal to segment size.")

  # Calculate the number of segments with overlap
  n_segments = (len(df) // (segment_size - overlap_size)) + 1

  segments = []

  start_idx = 0

  for i in range(n_segments):
    # Adjust ending index for overlap
    end_idx = min(start_idx + segment_size, len(df))

    # Select the current segment with overlap from previous segment
    segment = df.iloc[start_idx:end_idx]

    segments.append(segment)

    # Update starting index for the next segment considering overlap
    start_idx = max(end_idx - overlap_size, 0)  # Avoid negative index

  return segments

## Segment each dataframe manually

In [ ]:
df = pd.DataFrame(amp_dfs[5])

segments = segment_df_overlap(df.copy(), 600, 200)

print("First Segment:\n", segments[0])
print("\nLast Segment:\n", segments[-1])
print(len(segments))

First Segment:
              0          1          2          3          4          5  \
1    12.369317  12.369317  13.152946  14.035669  14.142136  13.038405
2    13.453624  12.727922  14.142136  14.142136  14.212670  13.601471
3    12.041595  12.041595  12.041595  13.000000  13.038405  12.041595
4    12.206556  12.206556  12.806248  13.453624  13.453624  12.041595
5    18.681542  17.720045  18.973666  18.384776  19.697716  17.464249
..         ...        ...        ...        ...        ...        ...
596  12.649111  13.601471  14.560220  15.297059  16.278821  14.142136
597  13.416408  13.892444  14.764823  15.264338  15.811388  14.212670
598  12.041595  13.152946  14.142136  14.317821  14.317821  12.649111
599  10.630146  12.041595  12.727922  13.601471  12.806248  12.206556
600  13.000000  13.000000  14.866069  15.524175  15.297059  14.142136

             6          7          8          9  ...         42         43  \
1    15.000000  14.000000  15.033296  15.000000  ...  14.142136  13.341664
2    14.212670  14.422205  15.264338  15.264338  ...  13.453624  12.727922
3    12.041595  12.165525  13.152946  12.165525  ...  13.152946  12.041595
4    12.727922  12.041595  12.806248  12.806248  ...  13.601471  12.806248
5    18.384776  19.313208  18.788294  20.124612  ...  17.464249  16.155494
..         ...        ...        ...        ...  ...        ...        ...
596  15.033296  15.033296  15.033296  15.033296  ...  16.124515  15.297059
597  15.000000  14.866069  14.866069  15.556349  ...  15.264338  14.317821
598  13.601471  13.928388  13.000000  14.317821  ...  14.142136  13.038405
599  12.206556  12.206556  12.529964  12.529964  ...  12.727922  12.041595
600  14.142136  14.035669  15.033296  15.000000  ...  14.866069  13.000000

            44         45         46         47         48         49  \
1    13.341664  13.601471  13.601471  12.369317  13.601471  12.649111
2    12.041595  12.806248  12.727922  13.453624  13.453624  12.806248
3    12.041595  12.041595  12.041595  13.152946  13.152946  13.341664
4    12.806248  12.806248  13.601471  13.601471  13.601471  13.038405
5    15.811388  17.720045  16.763055  16.763055  18.027756  16.763055
..         ...        ...        ...        ...        ...        ...
596  14.142136  14.317821  15.033296  15.033296  15.132746  15.297059
597  14.317821  14.317821  14.764823  16.124515  15.652476  15.231546
598  14.000000  13.000000  13.038405  14.000000  14.035669  13.000000
599  12.041595  12.041595  12.727922  12.727922  12.727922  12.806248
600  12.649111  12.649111  13.601471  14.560220  13.928388  14.317821

            50         51
1    12.649111  12.649111
2    12.806248  12.806248
3    13.152946  13.341664
4    13.601471  13.601471
5    16.492423  17.464249
..         ...        ...
596  15.132746  14.317821
597  15.264338  15.231546
598  14.035669  13.000000
599  12.806248  12.806248
600  13.928388  13.416408

[600 rows x 52 columns]

Last Segment:
                0          1          2          3          4          5  \
10211  10.000000  11.000000  11.000000  12.041595  11.180340  11.045361
10212  13.453624  13.453624  13.453624  15.620499  15.000000  14.422205
10213  13.000000  13.000000  13.928388  14.866069  13.601471  13.341664
10214  10.049876  10.440307  10.440307  10.440307  10.770330   9.486833
10215  13.453624  13.453624  14.866069  14.142136  14.866069  12.206556
...          ...        ...        ...        ...        ...        ...
10406  15.000000  15.000000  16.000000  17.117243  16.124515  15.297059
10407  16.155494  16.155494  17.088007  17.720045  16.763055  15.524175
10408  13.416408  13.892444  14.764823  15.811388  15.811388  14.422205
10409  15.033296  15.132746  16.031220  17.262677  16.278821  16.278821
10410  13.601471  13.000000  14.866069  14.317821  15.231546  13.000000

               6          7          8          9  ...         42         43  \
10211  12.369317  11.180340  12.369317  12.369317  ...   9.219544   8.246211
10212  14.422205  13.892444  14.764823  14.764823  ...  12.206556  10.630146
10213  13.341664  13.341664  13.341664  13.341664  ...  11.180340  10.295630
10214  10.770330  10.770330   9.848858   9.848858  ...   9.848858   8.246211
10215  14.212670  14.866069  15.620499  14.422205  ...  12.206556  11.401754
...          ...        ...        ...        ...  ...        ...        ...
10406  16.278821  15.524175  16.492423  16.763055  ...  12.041595  10.000000
10407  16.492423  16.492423  17.262677  17.262677  ...  13.601471  12.083046
10408  15.000000  15.000000  15.620499  15.620499  ...  12.206556  11.180340
10409  16.492423  16.492423  16.763055  16.763055  ...  13.341664  12.165525
10410  14.317821  13.416408  14.764823  15.264338  ...  12.649111  10.440307

              44         45         46         47         48         49  \
10211   8.000000   8.000000   9.000000   9.000000   9.000000   9.055385
10212  10.630146  10.630146  11.313708  12.041595  11.401754  11.401754
10213  10.816654  10.000000  10.816654  10.816654  11.401754  11.313708
10214   8.246211   8.246211   9.486833   9.219544  10.198039  10.049876
10215  11.401754  10.630146  11.401754  12.041595  12.041595  11.401754
...          ...        ...        ...        ...        ...        ...
10406  11.000000  10.000000  11.000000  11.045361  11.045361  11.401754
10407  12.083046  12.529964  12.083046  12.529964  13.038405  12.806248
10408  11.180340  10.770330  11.180340  12.083046  11.704700  12.369317
10409  12.165525  12.000000  12.041595  13.038405  13.000000  13.038405
10410  11.180340  11.045361  11.180340  11.045361  12.041595  12.000000

              50         51
10211   9.055385   9.219544
10212  11.401754  10.816654
10213  11.401754  11.401754
10214  10.198039  10.049876
10215  11.313708  11.401754
...          ...        ...
10406  11.180340  10.440307
10407  13.038405  12.806248
10408  12.369317  12.369317
10409  14.000000  13.038405
10410  12.041595  12.000000

[200 rows x 52 columns]
27

In [ ]:
segment_index = 0
people_index = 5
for segment in segments:
  segment.to_csv(f"/content/drive/MyDrive/01.School_related/DoAnChuyenNganh/dataset/segments/segment-{people_index}-{segment_index}.csv",index=False)
  segment_index += 1